@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  box-sizing: border-box;
}

.navigation a {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: black;
  text-decoration: none;
}

.favorites-count {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: white;
  background-color: #7db54f;
  padding: 4.5px 5px;
  border-radius: 50%;
  position: absolute;
  margin-top: -8px;
  margin-left: -11px;
}

.navigation-link-favorite {
  text-decoration: none;
}

.navigation-link-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background-color: #756157;
  text-decoration: none;
}

.hero {
  background: url("../images/index-background.jpg"), black;
  width: 1200px;
  height: 485px;
  background-repeat: no-repeat;
}

.sedona-info {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.sedona-info-subtitle {
  text-align: center;
}

.sedona-city {
  background-color: #82b3d3;
}
.small-town {
  background-color: #f0f5f9;
}

.scenic-road {
  background-color: #e6f0f6;
}

.few-tourists {
  background-color: #f0f5f9;
}

.devils-bridge {
  background-color: #82b3d3;
}
.advantages-item:first-child {
  color: white;
}
.advantages-item:last-child {
  color: white;
}
.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}
.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.services-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.services-description {
  text-align: center;
}

.services-item:nth-child(odd) {
  background-color: #f0f5f9;
}

.services-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 20px 40px 10px;
}
.services-info {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  padding: 10px 40px 30px;
}

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}
.hotel-search-description {
  text-align: center;
}

.hotel-search-btn {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: #756157;
}

.newsletter-container {
  background: url("../images/subscribe-img.jpg"), black;
  width: 1200px;
  height: 414px;
}
.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: white;
}
.newsletter-description {
  text-align: center;
  color: white;
}

.footer-contacts-address {
  height: 50px;
  display: flex;
  align-items: center;
}

.footer-contacts-address-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color: black;
  text-decoration: none;
  font-style: normal;
}

.hotels-filter-wrapper {
  background: url("../images/filter.jpg"), black;
  width: 1200px;
  min-height: 412px;
}
.hotels-filter {
  color: white;
}
.hotels-filter-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}
.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 32px;
}
.catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.counts-hotel {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-card-link {
  text-decoration: none;
}
.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: black;
}

.hotel-card-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.hotel-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #756157;
  padding: 8px 26px;
  border-radius: 4px;
}

.hotel-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
}

.pagination-link {
  text-decoration: none;
  color: white;
}

.newsletter-title-black {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: black;
}
.newsletter-description-black {
  text-align: center;
  color: black;
}

.field {
  font: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #9b9b9b;
  border-style: none;
}
.field-dark {
  background-color: #f2f2f2;
}

.control-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #aaaaaa;
  margin-left: -35px;
  position: absolute;
  margin-top: 12px;
}

.control-input {
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 20px;
  height: 20px;
}

.blue-btn {
  color: white;
  background-color: #82b3d3;
  cursor: pointer;
  border-style: none;
  text-transform: uppercase;
  text-align: center;
}
.newsletter-form-btn {
  font: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}
.submit-button {
  font: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.reset-button {
  font: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: white;
  cursor: pointer;
  border-style: none;
  text-transform: uppercase;
  text-align: center;
}

.select-control {
  font: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border-color: #e5e5e5;
}

.hotel-card-add {
  font: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
}

.btn-favorite {
  color: white;
  background-color: #7db54f;
  cursor: pointer;
  border-style: none;
  text-transform: uppercase;
  text-align: center;
}

.navigation-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.main-header-logo {
  margin-right: 28px;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

.welcome-img {
  display: block;
  margin: 0 auto;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.services-item {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 385px;
}

.catalog-filter-form {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.pagination-list {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.pagination-item {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 60px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 16px;
}

.catalog-filter-infrastructure {
  margin-right: 70px;
}

.catalog-filter-type {
  margin-right: 150px;
}
.logo-container {
  display: flex;
}
.catalog-filter-price {
  margin-right: 70px;
}
.catalog-filter-btn {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.submit-button {
  padding: 8px 50px;
  margin-bottom: 32px;
  border-radius: 4px;
}

.reset-button {
  padding: 8px 50px 25px;
  border-radius: 4px;
  background: none;
}

.navigation-user {
  display: flex;
  justify-content: end;
  flex-grow: 1;
}

.main-header-logo {
  z-index: 1;
  margin-bottom: -6px;
}

.navigation-item {
  padding: 20px 16px;
}
.navigation-link {
  text-decoration: none;
}

.navigation-link-btn {
  padding: 8px 34px;
  border-radius: 4px;
  min-width: max-content;
  display: inline-block;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 69px;
}

.container-hero-img {
  margin-top: -34px;
}

.sedona-info {
  margin: 0 auto;
  max-width: 620px;
}

.sedona-info-subtitle {
  margin-top: 25px;
  padding: 0 100px 30px;
}

.sedona-info-wrapper {
  margin-bottom: 60px;
  box-sizing: border-box;
}

.advantages-title {
  margin: 0;
  padding: 30px 50px 10px;
}

.advantages-description {
  margin: 0;
  padding: 0 50px 30px;
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.city-img {
  grid-column: 2/4;
}

.bridge-img {
  grid-column: 1/3;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  min-height: 385px;
  justify-content: center;
  align-items: center;
}

.advantages-wrapper {
  margin-bottom: 64px;
}

.services-title {
  margin: 0 auto;
  max-width: 510px;
}

.services-description {
  margin: 0 auto;
  padding: 20px 150px 0;
}

.services-wrapper .container {
  margin-bottom: 64px;
}

.hotel-search {
  margin-top: 96px;
  margin-bottom: 96px;
}

.hotel-search-title {
  margin-bottom: 20px;
  margin-top: 0;
}

.hotel-search-description {
  padding: 0 120px;
  margin-bottom: 54px;
  margin-top: 0;
}

.hotel-search-btn {
  padding: 8px 50px;
  border-radius: 4px;
  margin: 0;
}

.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-title {
  margin-top: 96px;
  margin-bottom: 20px;
}

.newsletter-description {
  margin: 0;
  margin-bottom: 54px;
  padding: 0 200px;
}

.newsletter-form {
  display: flex;
  align-items: center;
}

.field {
  width: 452px;
  height: 52px;
  padding-left: 20px;
  border-radius: 4px 0 0 4px;
}

.newsletter-form-btn {
  background-color: #82b3d3;
  color: white;
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
  border-color: #82b3d3;
  cursor: pointer;
  border-style: none;

  text-transform: uppercase;
  text-align: center;
}

.main-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 30px;
}

.footer-social-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  margin-left: 30px;
}
.htmlacademy {
  margin-right: 70px;
  height: 50px;
  display: flex;
  align-items: center;
}

.hotels-filter-title {
  margin: 0;
  padding: 35px 0 8px 70px;
}

.breadcrumbs {
  margin: 0 0 40px;
  padding: 0 70px;
  list-style: none;
  display: flex;
  align-items: center;
}

.breadcrumbs-item {
  margin-left: 11px;
}

.hotels-filter-wrapper {
  margin-bottom: 50px;
}

.hotel-sorting {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.counts-hotel {
  margin-left: 70px;
  padding-right: 200px;
}

.select-control {
  padding: 10px 90px 11px 15px;
  border-color: #e5e5e5;
  border-radius: 4px;
  border-width: 2px;
}

.hotel-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 70px 78px 70px;
  grid-gap: 20px;
}

.hotel-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 17px;
  grid-column-gap: 18px;
}

.hotel-card {
  padding: 18px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.pagination {
  margin: 40px 70px 0 70px;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 60px;
}

.pagination-item {
  width: 60px;
  height: 60px;
  background-color: #82b3d3;
  border-radius: 4px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.three-dots {
  background-color: white;
}

.pagination-current {
  background-color: #f2f2f2;
}
.pagination-link-current {
  color: black;
}
.newsletter-container-black {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 104px;
}
.newsletter-title-black {
  margin-top: 96px;
  margin-bottom: 20px;
}

.newsletter-description-black {
  margin: 0;
  margin-bottom: 54px;
  max-width: 475px;
}

.navigation-btn {
  padding-bottom: 10px;
}

.advantages-img {
  height: 100%;
  object-fit: cover;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.numb-stars {
  display: flex;
  gap: 6px;
  align-items: center;
}

.navigation-btn {
  padding: 14px 0 0;
  margin-left: 20px;
}

.navigation-user-btn {
  padding: 20px 16px;
}

.current-item {
  padding-bottom: 18px;
  border-bottom: 2px solid #756257;
}

.main-footer {
  width: 1200px;
  margin: 0 auto;
}

.price-wrapper {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.control-input-price-min {
  width: 143px;
  height: 48px;
  border: none;
  border-radius: 4px 0 0 4px;
  padding-left: 20px;
}
.control-input-price-max {
  width: 143px;
  height: 48px;
  border: none;
  border-radius: 0 4px 4px 0;
  padding-left: 20px;
}
