@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  box-shadow: 0 15px 40px #c7c7c7;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  box-sizing: border-box;
}

.navigation a {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: black;
  text-decoration: none;
}

.navigation {
  margin-left: 28px;
}

.favorites-count {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: white;
  background-color: #7db54f;
  padding: 5px 5px 5px 4px;
  border-radius: 50%;
  position: absolute;
  margin-top: -10px;
  margin-left: -13px;
}

.navigation-link-favorite {
  text-decoration: none;
}

.navigation-link-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background-color: #756157;
  text-decoration: none;
  padding: 8px 34px;
  border-radius: 4px;
  min-width: max-content;
  display: inline-block;
  border: none;
}

.hero {
  background: url("../images/index-background.jpg"), black;
  width: 1200px;
  height: 485px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sedona-info {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 25px;
}

.sedona-info-subtitle {
  text-align: center;
  margin: 0;
}

.sedona-city {
  background-color: #82b3d3;
}
.small-town {
  background-color: #f0f5f9;
}

.scenic-road {
  background-color: #e6f0f6;
}

.few-tourists {
  background-color: #f0f5f9;
}

.devils-bridge {
  background-color: #82b3d3;
}
.advantages-item:first-child {
  color: white;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0 29px;
}
.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.services-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}

.services-item:nth-child(odd) {
  background-color: #f0f5f9;
}

.services-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 29px 0 30px;
}
.services-info {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.hotel-search-btn {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: #756157;
  padding: 8px 50px;
  border-radius: 4px;
  margin: 0;
}

.newsletter-container {
  background: url("../images/subscribe-img.jpg"), black;
  width: 1200px;
  background-repeat: no-repeat;
  background-size: cover;
}
.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin: 0;
}

.footer-contacts-address {
  height: 50px;
  display: flex;
  align-items: center;
  max-width: 550px;
  justify-content: center;
}

.footer-contacts-address-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color: black;
  text-decoration: none;
  font-style: normal;
}

.hotels-filter-wrapper {
  background: url("../images/filter.jpg"), black;
  width: 1200px;
  min-height: 412px;
}
.hotels-filter {
  color: white;
}
.hotels-filter-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0 0 5px 0;
}
.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  padding-bottom: 33px;
}
.catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  display: flex;
}

.counts-hotel {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  min-height: 50px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: 470px;
  flex-wrap: wrap;
}

.hotel-card-link {
  text-decoration: none;
}
.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: black;
  padding: 12px 0 16px;
  margin: 0;
}

.hotel-card-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: end;
}
.hotel-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #756157;
  padding: 8px 26px;
  border-radius: 4px;
}

.hotel-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
}

.pagination-link {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 6px;
  border-radius: 4px;
}

.newsletter-title-black {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: black;
  margin: 0;
}

.field-dark {
  background-color: #f2f2f2;
}

.control-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #aaaaaa;
  margin-left: -36px;
  position: absolute;
  margin-top: 12px;
}

.control-price-max {
  margin-left: -40px;
}

.control-input {
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.blue-btn {
  color: white;
  background-color: #82b3d3;
  cursor: pointer;
  border-style: none;
  text-transform: uppercase;
  text-align: center;
}

.reset-button {
  font: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: white;
  cursor: pointer;
  border-style: none;
  text-transform: uppercase;
  text-align: center;
  padding: 6px 50px;
  border-radius: 4px;
  background: none;
  border: 3px solid transparent;
}

.hotel-card-add {
  font: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
}

.btn-favorite {
  color: white;
  background-color: #7db54f;
  cursor: pointer;
  border-style: none;
  text-transform: uppercase;
  text-align: center;
}

.navigation-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;

  flex-wrap: wrap;
  max-width: 195px;
  align-items: flex-start;
}

.navigation-menu {
  max-width: 520px;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
}

.welcome-img {
  display: block;
  margin: 0 auto;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services-item {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 385px;
  padding: 81px 85px;
}

.catalog-filter-form {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.pagination-list {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 43px;
}

.catalog-filter-infrastructure {
  margin-right: 70px;
}

.catalog-filter-type {
  margin-right: 151px;
}
.logo-container {
  display: flex;
}
.catalog-filter-price {
  margin-right: 70px;
}
.catalog-filter-btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 56px;
}

.submit-button {
  padding: 8px 50px;
  margin-bottom: 33px;
  border-radius: 4px;
  font: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.navigation-user {
  display: flex;
  justify-content: end;
  flex-grow: 1;
}

.main-header-logo {
  z-index: 1;
  margin-bottom: -6px;
}

.navigation-item {
  padding: 18px 16px 20px;
}
.navigation-link {
  text-decoration: none;
}

.container-hero-img {
  margin-top: -34px;
}

.white-vector {
  position: absolute;
  left: 0;
  bottom: 0;
}
.main-img-wrapper {
  width: 75px;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sedona-info-wrapper {
  margin-bottom: 21px;
  box-sizing: border-box;
  padding: 69px 270px;
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.devils-bridge {
  display: flex;
  flex-direction: row;
}

.sedona-city {
  display: flex;
  flex-direction: row;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  min-height: 385px;
  justify-content: center;
  align-items: center;
  padding: 102px 85px;
}

.services-description {
  margin: 0;
  text-align: center;
}

.services-wrapper .container {
  padding: 64px 342px;
}

.hotel-search {
  margin-top: 97px;
  margin-bottom: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hotel-search-description {
  margin: 0;
  padding: 20px 0 54px;
  text-align: center;
}

.newsletter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 166px 104px;
}

.newsletter-description {
  margin: 0;
  padding: 20px 162px 54px;
  text-align: center;
  color: white;
}

.newsletter-form {
  display: flex;
  align-items: center;
}

.field {
  width: 452px;
  height: 52px;
  padding-left: 20px;
  border-radius: 4px 0 0 4px;
  font: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #9b9b9b;
  border-style: none;
}

.newsletter-form-btn {
  background-color: #82b3d3;
  color: white;
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
  border-color: #82b3d3;
  cursor: pointer;
  border-style: none;

  text-transform: uppercase;
  text-align: center;
  font: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.main-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 70px 40px;
}

.footer-social-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  max-width: 144px;
}
.htmlacademy {
  height: 50px;
  display: flex;
  align-items: center;
}

.breadcrumbs {
  margin: 0;
  padding: 0 0 38px;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.breadcrumbs-item:not(:first-child) {
  padding-left: 18px;
  display: flex;
}
.breadcrumbs-item:not(:first-child)::before {
  content: "";
  position: absolute;
  background: url("../images/breadcrumbs.svg") no-repeat;
  width: 8px;
  height: 20px;
  transform: translate(-17px, 0);
}

.hotels-filter-wrapper {
  padding: 35px 70px 29px;
  background-repeat: no-repeat;
  background-size: cover;
}

.hotel-sorting {
  display: flex;
  align-items: flex-start;
  padding: 50px 70px 38px;
  justify-content: space-between;
}
.catalog-item-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.select-control {
  padding: 10px 50px 11px 18px;
  border-color: #e5e5e5;
  border-radius: 4px;
  border-width: 2px;
  min-height: 50px;
  display: flex;
  align-items: center;
  width: 292px;
  margin-left: -2px;
  font: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-image: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: 93% 50%;
}

.control {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 23px;
}

.hotel-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 0 78px;
  padding: 0 70px;
  grid-gap: 20px;
  row-gap: 18px;
  position: relative;
}
.hotel-list::before {
  content: "";
  position: absolute;
  width: 1060px;
  border-bottom: 1px solid #e6e6e6;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.hotel-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 17px;
  grid-column-gap: 18px;
}

.hotel-card {
  padding: 18px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.pagination {
  margin: 40px 70px 61px 70px;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.pagination-item {
  min-width: 60px;
  height: 60px;
  background-color: #82b3d3;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.three-dots {
  background-color: white;
}

.pagination-current {
  background-color: #f2f2f2;
}
.pagination-link-current {
  color: black;
}

.newsletter-container-black {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 250px 104px;
}

.newsletter-description-black {
  margin: 0;
  max-width: 475px;
  padding: 20px 0 54px;
  text-align: center;
  color: black;
}

.advantages-img {
  height: 100%;
  object-fit: cover;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.navigation-btn {
  padding: 14px 0 14px 20px;
}

.navigation-user-btn {
  padding: 21px 12px 17px;
}

.current-item {
  padding-bottom: 18px;
  border-bottom: 2px solid #756257;
}

.main-footer {
  width: 1200px;
  margin: 0 auto;
}

.price-wrapper {
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.control-input-price-min {
  width: 143px;
  height: 48px;
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 4px 38px 4px 20px;
}
.control-input-price-max {
  width: 143px;
  height: 48px;
  border: none;
  border-radius: 0 4px 4px 0;
  padding: 4px 38px 4px 19px;
}

.control-input-price-min::placeholder {
  color: #000000;
}

.control-input-price-max::placeholder {
  color: #000000;
}

.type-cards-item {
  display: flex;
  text-decoration: none;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.type-cards-container {
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
  gap: 8px;
  flex-wrap: wrap;
  max-width: 160px;
  min-height: 50px;
  align-items: center;
}

.footer-social-item a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.city-img {
  padding: 0;
}

.bridge-img {
  padding: 0;
}

.advantages-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: #a8acaf;
  margin: 30px auto;
}

.numb-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 6px;
  align-items: center;
  flex-wrap: wrap;
}
.numb-stars {
  display: flex;
  align-items: center;
}

.control-radio {
  position: relative;
  padding-left: 36px;
}
.control-radio::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  left: 0;
  top: 0;
}

.control-radio::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: #3f5e72;
  border-radius: 50%;
  background-position: center;
  left: 5px;
  top: 5px;
  z-index: 1;
  opacity: 0;
}

.custom-input:checked + .control-radio::before {
  opacity: 1;
}

.control-checkbox {
  position: relative;
  padding-left: 36px;
}
.control-checkbox::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 4px;
  left: 0;
  top: 0;
}

.control-checkbox::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 10px;
  background: url("../images/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
  left: 5px;
  top: 5px;
  z-index: 1;
  opacity: 0;
}

.custom-input:checked + .control-checkbox::before {
  opacity: 1;
}

.navigation-link-btn:hover {
  background-color: #615048;
  transition: 0.2s;
}

.navigation-link-btn:focus {
  background-color: #615048;
  transition: 0.2s;
  outline-color: #68a2ca;
}

.navigation-link-btn:active {
  background-color: #756157;
  color: #9e9089;
  transition: 0.2s;
}
.navigation-link-btn:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  pointer-events: none;
}

.hotel-search-btn:hover {
  background-color: #615048;
  transition: 0.2s;
}

.hotel-search-btn:focus {
  background-color: #615048;
  transition: 0.2s;
  outline-color: #68a2ca;
}

.hotel-search-btn:active {
  background-color: #756157;
  color: #9e9089;
  transition: 0.2s;
}
.hotel-search-btn:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  pointer-events: none;
}

.hotel-card-button:hover {
  background-color: #615048;
  transition: 0.2s;
}

.hotel-card-button:focus {
  background-color: #615048;
  transition: 0.2s;
  outline-color: #68a2ca;
}

.hotel-card-button:active {
  background-color: #756157;
  color: #9e9089;
  transition: 0.2s;
}

.hotel-card-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  pointer-events: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

.newsletter-form-btn:hover {
  background-color: #68a2ca;
  transition: 0.2s;
}

.newsletter-form-btn:focus {
  background-color: #68a2ca;
  transition: 0.2s;
  outline-color: #68a2ca;
}

.newsletter-form-btn:active {
  background-color: #82b3d3;
  color: #a7cae0;
  transition: 0.2s;
}

.hotel-card-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  pointer-events: none;
}

.blue-btn:hover {
  background-color: #68a2ca;
  transition: 0.2s;
}

.blue-btn:focus {
  background-color: #68a2ca;
  transition: 0.2s;
  outline-color: #68a2ca;
}

.blue-btn:active {
  background-color: #82b3d3;
  color: #a7cae0;
  transition: 0.2s;
}

.blue-btn:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  pointer-events: none;
}

.btn-favorite:hover {
  background-color: #6c9e42;
  transition: 0.2s;
}

.btn-favorite:focus {
  background-color: #6c9e42;
  transition: 0.2s;
  outline-color: #68a2ca;
}

.btn-favorite:active {
  background-color: #7db54f;
  color: #a4cb83;
  transition: 0.2s;
}

.btn-favorite:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  pointer-events: none;
}

.type-cards-item:hover {
  border-color: #000000;
  transition: 0.2s;
}

.type-cards-item:focus {
  border-color: #68a2ca;
  transition: 0.2s;
  outline: none;
}

.type-cards-item:active {
  border-color: #000000;
  transition: 0.2s;
}

.logo-html path {
  fill: #000000;
}

.logo-html:hover path {
  fill: #756157;
  transition: 0.2s;
}

.logo-html:focus path {
  fill: #756157;
  transition: 0.2s;
  outline-color: #68a2ca;
}

.logo-html:active path {
  fill: #d6d0cd;
  transition: 0.2s;
}

.footer-icon:hover path {
  fill: #68a2ca;
  transition: 0.2s;
}

.button:focus .footer-icon path {
  transition: 0.2s;
  fill: #68a2ca;
}
.footer-social-item a:focus {
  outline-color: #68a2ca;
}

.button:active .footer-icon path {
  transition: 0.2s;
  opacity: 0.3;
}

.footer-contacts-address-phone:hover {
  color: #756157;
  transition: 0.2s;
}

.footer-contacts-address-phone:focus {
  color: #756157;

  outline-color: #68a2ca;
}

.footer-contacts-address-phone:active {
  color: #d6d0cd;
  transition: 0.2s;
}
.htmlacademy:focus {
  outline-color: #68a2ca;
}

.htmlacademy:focus .logo-html path {
  transition: 0.2s;
  fill: #756157;
}

.htmlacademy:active .logo-html path {
  transition: 0.2s;
  opacity: 0.3;
}

.price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-container {
  cursor: pointer;
}

.control-input-price-min:not(:placeholder-shown) {
  border: 3px solid black;
  transition: 0.2s;
  outline: none;
}

.control-input-price-max:not(:placeholder-shown) {
  border: 3px solid black;
  transition: 0.2s;
  outline: none;
}

.control-input-price-min:focus {
  outline: 3px solid #82b3d3;
  transition: 0.2s;
}

.control-input-price-max:focus {
  outline: 3px solid #82b3d3;
  transition: 0.2s;
}

.select-control:hover {
  border-color: #68a2ca;
  transition: 0.2s;
}

.select-control:focus {
  border-color: #68a2ca;
  transition: 0.2s;
  outline: none;
}

.select-control:disabled {
  border-color: #b3b3b3;
  transition: 0.2s;
  pointer-events: none;
}

.reset-button:hover {
  color: #b5c3c6;
}

.reset-button:active {
  color: #73837b;
  transition: 0.2s;
  outline: none;
}

.reset-button:focus {
  border: 3px solid #68a2ca;
  transition: 0.2s;
  outline: none;
}

.reset-button:disabled {
  opacity: 0.1;
  pointer-events: none;
}

.field:hover {
  background-color: #e6e6e6;
  transition: 0.2s;
}
.field:focus {
  outline: 3px solid #82b3d3;
  transition: 0.2s;
}
.field:not(:placeholder-shown) {
  border: 2px solid black;
  transition: 0.2s;
  outline: none;
}
.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  color: white;
  outline-color: #68a2ca;
}
.breadcrumbs-link:active {
  opacity: 0.35;
}

.catalog-filter-item:hover > .control-checkbox {
  opacity: 0.6;
  transition: 0.2s;
}

.catalog-filter-item input:focus + label::after {
  outline: 3px solid #68a2ca;
  transition: 0.2s;
}

.catalog-filter-item:active > .control-checkbox {
  opacity: 0.3;
  transition: 0.2s;
}

.catalog-filter-item:hover > .control-radio {
  opacity: 0.6;
  transition: 0.2s;
}

.catalog-filter-item:active > .control-radio {
  opacity: 0.3;
  transition: 0.2s;
}

.devils-bridge {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  grid-column-start: 1;
  grid-column-end: 4;
}

.sedona-city {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  grid-column-start: 1;
  grid-column-end: 4;
}
.advantages-img-bridge {
  order: -1;
  grid-column-start: 1;
  grid-column-end: 3;
}

.advantages-img-city {
  grid-column-start: 2;
  grid-column-end: 4;
}

.advantages-item-group {
  padding: 102px 85px;
}
.navigation-link:hover {
  opacity: 0.6;
  transition: 0.2s;
}
.navigation-link:focus {
  outline-color: #82b3d3;
}
.navigation-link:active {
  opacity: 0.4;
  transition: 0.2s;
}

.pagination-link:focus {
  background-color: #68a2ca;
  outline-color: #68a2ca;
  transition: 0.2s;
}

.pagination-link:active {
  background-color: #82b3d3;
  color: #a7cae0;
  outline: none;
  transition: 0.2s;
}

.advantages-item-white {
  color: white;
  background-color: #82b3d3;
}

.advantages-item-white .advantages-title::after {
  background-color: #a7cae0;
}

.hotel-card-link {
  outline-color: #68a2ca;
  transition: 0.2s;
}

.logo-container {
  outline-color: #68a2ca;
  transition: 0.2s;
}

.range-scale {
  position: relative;
  height: 4px;
  width: 287px;
  background-color: #6e7576;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: white;
  left: 0;
  width: 218px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -8px;
}

.range-toggle:focus {
  outline: 3px solid #82b3d3;
  transition: 0.2s;
}

.range-toggle:active {
  outline: 2px solid #82b3d3;
  transition: 0.2s;
}

.logo-container:hover {
  opacity: 0.6;
}

.logo-container:active {
  opacity: 0.3;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
  z-index: 3;
}
.modal-container.is-show {
  display: flex;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 15px 40px #c7c7c7;
  z-index: 2;
  width: 717px;
}

.field-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-close-button {
  position: absolute;
  border: none;
  border-radius: 50%;
  background-color: #f2f2f2;
  width: 52px;
  height: 52px;
  top: 64px;
  right: 52px;
  padding: 0;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-close-button:hover {
  background-color: #e6e6e6;
  transition: 0.2s;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  transition: 0.2s;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  opacity: 0.3;
  transition: 0.2s;
  outline: none;
}

.modal-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.field-modal {
  background-color: #f2f2f2;
  width: 440px;
  height: 48px;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: black;
  border-style: none;
  border-radius: 4px;
  padding: 12px 55px 12px 18px;
  background-image: url(../images/icon-date.svg);
  background-repeat: no-repeat;
  background-position-x: 398px;
  background-position-y: 13px;
}

.field-modal:hover {
  background-color: #e6e6e6;
  transition: 0.2s;
}
.field-modal:focus {
  outline: 3px solid #82b3d3;
  transition: 0.2s;
  background-color: #e6e6e6;
}
.field-modal:not(:placeholder-shown) {
  border: 2px solid black;
  transition: 0.2s;
  outline: none;
}

.modal-label {
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.modal-form {
  padding-top: 64px;
}

.error-message {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ff5757;
  padding: 4px 25px 10px 157px;
  margin: 0;
}

.modal-date-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;
}

.info-message {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  padding: 4px 25px 10px 157px;
  margin: 0;
}

.persons-number {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.people-numb-wrapper {
  display: flex;
  align-items: center;
}

.people {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin: 0;
  padding: 11px 46px 11px 0;
  display: flex;
  position: relative;
}

.modal-btn-count {
  border: none;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 14px 10px;
}

.modal-btn-plus {
  border-radius: 0 4px 4px 0;
}

.modal-btn-minus {
  border-radius: 4px 0 0 4px;
}

.btn-plus-icon {
  border-radius: 4px;
}

.btn-minus-icon {
  border-radius: 4px;
}
.modal-btn-wrapper {
  display: flex;
  align-items: center;
}

.modal-btn-wrapper span {
  min-width: 31px;
  height: 48px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.modal-btn-count:hover svg path {
  fill: black;
  fill-opacity: 1;
  transition: 0.2s;
}
.modal-btn-count:focus {
  outline: none;
}
.modal-btn-count:focus svg {
  outline: 3px solid #82b3d3;
}

.icon-info {
  margin-left: 10px;
  cursor: pointer;
}

.modal-submit-btn {
  background-color: #83b3d3;
  border: none;
  border-radius: 10px;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  padding: 18px 77px;
  width: 577px;
  height: 60px;
  color: white;
  cursor: pointer;
}

.modal-submit-btn:hover {
  background-color: #68a2ca;
  transition: 0.2s;
}

.modal-submit-btn:focus {
  background-color: #68a2ca;
  transition: 0.2s;
  outline: 3px solid #68a2ca;
}

.modal-submit-btn:active {
  background-color: #68a2ca;
  opacity: 0.3;
  transition: 0.2s;
}

.modal-info-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 256px;
  align-items: center;
  left: 28%;
  top: 0;
  transform: translate(-50%, 21%);
  visibility: hidden;
}

.hover-info-subtitle {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background-color: #333333;
  border-radius: 10px;
  width: 256px;
  padding: 21px 18px 22px 22px;
  margin: -1px 0 0 0;
  text-transform: none;
}

.field-modal::before {
  background-image: url("../images/icon-date.svg");
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
}

.people-container {
  display: flex;
  align-items: center;
  padding-right: 47px;
  position: relative;
}

.children {
  padding: 11px 0 11px 0;
}

.people-container:hover > .modal-info-wrapper {
  visibility: visible;
}

.custom-input:disabled + .control {
  opacity: 0.3;
  pointer-events: none;
}
